{% extends "g/base.html" %}

{% block css %}
  <link href="{{ static_url('css/login.css') }}" rel="stylesheet">
{% end %}

{% block body %}
   <!--<div class="container">-->
      <form class="form-signin" role="form" action="/login" method="post">
        {% module xsrf_form_html() %}
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" class="form-control" placeholder="Email address" required="" autofocus="" name="email">
        <input type="password" class="form-control" placeholder="Password" required="" name="password">
        <label class="checkbox">
          <input type="checkbox" value="remember-me" name="remember-me"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
   <!--</div>-->
{% end %}


