body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.center {
  width: auto;
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.text-center {
  text-align: center;
}
ul {
  list-style:none;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase {
  margin: 5px 0;
}
.theme-showcase > p > .btn {
  margin: 5px 0;
}

.navbar-fixed-top {
  max-height: 35px;
}

.navbar-nav {
  float: none;
}


/* page dinner */
.dinner {}